<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Closet</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Closet</h1>
    <a href="/users/<%= user._id %>/shoes/new">Add a Shoe</a>
    <ul>
        <% shoes.forEach((shoe)=>{ %>
            <li>
                <a href="/users/<%= user._id %>/shoes/<%=shoe._id %>">
                    <%= shoe.shoeType %>
                </a>
            </li>
        <% }) %>
    </ul>
  </body>
</html>
